@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
.header {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  margin-top: 30px;
  width: 100%;
  right: 0;
  left: 0;
  border-bottom: 1px solid #fff;
  position: absolute;
  z-index: 6;
}
.main__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.link__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.social__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.bgi-main {
  position: absolute;
  z-index: 4;
  right: 0;
  left: 0;
  height: 100vh;
}
.title {
  margin-top: 230px;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  max-width: 600px;
}
.play {
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  gap: 30px;
}

.text__play {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.services {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  bottom: 0;
}
.services__box {
  width: 315px;
  height: 151px;
  background-color: #8d86c9;
  color: #fff;
  padding-left: 35px;
}
.services__text {
  margin-top: 35px;
}
.services__title {
  margin-top: 17px;
}
.services__link {
  padding: 0 0 100px 230px;
}
.photos {
  margin-top: 175px;
  margin-bottom: 175px;
}
.photos__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.photo__title {
  color: #fff;
  font-weight: 700;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 376px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 334px;
}
.photo__title:hover {
  scale: 1.2;
}
.club__wrapper {
  display: flex;
}
.club__img {
  transform: translateX(100px);
}
.club__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 636px;
  height: 654px;
  color: #333333;
  background-color: #f7ece1;
  padding: 70px 60px 84px 145px;
}
.club__title {
  margin-top: 70px;
  font-weight: 700;
  font-size: 36px;
}
.club__text {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
}
.club__title-eng {
  margin-top: 35px;
  font-weight: 600;
  font-size: 21px;
}
.club__list > li:before {
  content: url(/img/li-img.svg);
}
.club__list-items {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
}

.slider {
  margin-top: 150px;
}
.coach {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coach__title {
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}
.arrow {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
.arrow__previous {
  padding: 5px;
  background-color: #8d86c9;
}
.arrow__next {
  padding: 5px;
  background-color: #8d86c9;
}
.swiper1 {
  margin-top: 75px;
}
.swiper1 > .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.swiper__title {
  margin-top: 25px;
  color: #333333;
  font-weight: 600;
  font-size: 21px;
}
.swiper__text {
  margin-top: 15px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}
.price {
  margin-top: 150px;
}

.price-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__title {
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}
.arrow__previous-2 {
  padding: 5px;
  background-color: #8d86c9;
}
.arrow__next-2 {
  padding: 5px;
  background-color: #8d86c9;
}
.price__second {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.price__link__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 526px;
  background-color: #8d86c9;
  padding: 20px;
}
.price__link-title {
  font-weight: 600;
  font-size: 21px;
  color: #fff;
}
.swiper2 {
  margin-left: 84px;
  text-align: center;
}
.swiper2___img {
  padding: 20px;
  border: 2px solid #f7ece1;
}
.footer {
  margin-top: 150px;
  background-color: #f7ece1;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.copyrite {
  font-weight: 500;
  font-size: 14px;
}
.footer__link__title {
  color: #333333;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
